.btn {
  color: #000;
  font-size: 20px;
  margin: 10px 10px;
}

.btn:focus {
  box-shadow: none;
}

.pers {
  margin-bottom: 15px;
}

.pers h4 {
  margin-bottom: 0px;
}

.pers h3 {
  margin-bottom: 0px;
  font-weight: bold;
}

.submit-btn {
  color: #fff;
  background-color: #007dc3;
  font-size: 18px;
}

.submit-btn:hover {
  box-shadow: 0 0 8pt 3pt #7fc5ee;
}

.logout-btn {
  font-size: 15px;
  color: #007dc3;
  border: 1px solid #007dc3;
}

.password-btn {
  font-size: 15px;
  color: #FFFFFF;
  background-color: #007dc3;
}

.changed-btn {
  background-color: #ececec;
  color: #1F1F1F;
  border: 1px solid #1F1F1F;
  font-size: 15px;
  cursor: default;
}

.fa-arrow-left {
  margin-left: -40px;
}
