<div class="container">
  <form *ngIf="is_visible" [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="mt-3">
    <div class="row d-flex p-2 justify-content-center">
      <div class="col">
        <div class="form-group">
          <label>Name</label>

          <input 
            type="text" 
            formControlName="name" 
            class="form-control" />
        </div>
      </div>
    </div>

    <div class="row d-flex p-2 justify-content-center">
      <div class="col">
        <div class="form-group">
          <label>Surname</label>

          <input 
            type="text" 
            formControlName="surname" 
            class="form-control" />
        </div>
      </div>
    </div>

    <div class="row d-flex p-2 justify-content-center">
      <div class="col">
        <div class="form-group">
          <label>Phone</label>

          <input 
            type="text" 
            formControlName="phone" 
            class="form-control" 
            [ngClass]="{ 'is-invalid': getForm.phone.errors }" />
          <div *ngIf="getForm.phone.errors" class="invalid-feedback">
            <div *ngIf="getForm.phone.errors.pattern">Phone must be in format +380</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex p-2 justify-content-center">
      <div class="col">
        <div class="form-group">
          <label>Birthday</label>

          <input 
            type="date" 
            formControlName="birthday" 
            class="form-control" />
        </div>
      </div>
    </div>
    <div class="row d-flex p-2 justify-content-center">
      <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-100">Update</button>
      </div>
    </div>
  </form>

  <div *ngIf="!is_visible" class="row d-flex p-2 flex-column">
    <div class="col d-flex align-items-center justify-content-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <h1 class="font-weight-bold pl-3 pt-3">Updated!</h1>
    </div>
    <div class="d-flex p-2 justify-content-center">
      <a routerLink="/home">Back to home</a>
    </div>
  </div>
</div>