<div class="container product-list-container mt-5">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-3 mb-3">
          <div class="card">
            <div class="card-body">
               <app-search (results)="products = search.getProducts()" #search> </app-search>
               <app-filter [(sort)]="sort"  [(direction)]="direction" (results)="products = filter.getProducts()"  #filter></app-filter>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="e-panel card">
            <div class="row d-flex flex-sm-row justify-content-between">
            <button routerLink="/products/add" class="btn btn-default btn-add" *ngIf="role=='ROLE_ADMIN' || role=='ROLE_PRODUCT_MANAGER'">
              + Add product</button>
            <div class="dropdown self-align-right">
              <button (click)="setDirection()" class="ascending-btn default-btn">
                <i *ngIf="direction=='DESC'" class="fas fa-angle-double-down"></i>
                <i *ngIf="direction=='ASC'" class="fas fa-angle-double-up"></i>
              </button>
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{sort}}
              </button>
              <h2>Sort by</h2>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <button (click)="setSort('name')" class="dropdown-item" value="name" type="button">Name</button>
                <button (click)="setSort('price')" class="dropdown-item" value="price" type="button">Price</button>
                <button (click)="setSort('date')" class="dropdown-item" value="date" type="button">Shipping date</button>
              </div>
            </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 list" >
                      <app-product-card *ngFor="let product of products" [role]="role" [product]="product">
                      </app-product-card>
            </div>
          </div>
                <app-pagination (results)="products = page.getProducts()" #page></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
