<div class="card m-3">
<h1 class="text-center card-header">Password Recovery</h1>
<div *ngIf="!sent" class="card-body">
  <p class="border-bottom text-center pb-2 mb-3">Enter the e-mail you used to sign in.
    We will send an email with instructions on how to reset your password.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h1>Email</h1>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getForm.email.errors }" />
      <div *ngIf="submitted && getForm.email.errors" class="invalid-feedback">
        <div *ngIf="getForm.email.errors.required">Email is required</div>
        <div *ngIf="getForm.email.errors.email">Email is invalid</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
      <button [disabled]="loading" type="submit" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Send
      </button>
      </div>
      <div class="form-group col text-right">
        <a routerLink="../login" class="btn btn-link">Back to login page</a>
      </div>
    </div>
  </form>
</div>
  <div *ngIf="sent" class="card-body">
    <h3 class="text-center"> Check your email to confirm password recovery.</h3>
    <div class="form-group col text-right">
      <a routerLink="../login" class="btn btn-link">Back to login page</a>
    </div>
  </div>
</div>

