<div class="dropdown">
  <h2>Category:</h2>
  <button class="btn dropdown-toggle w-100" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{filters.category}}
  </button>
  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenu">
    <ul class="list-group list-group-flush">
      <li *ngFor="let cat of categories"
          class="list-group-item"
          [ngClass]="{'active': cat === filters.category}"
          (click)="chooseCategory(cat)">{{cat}}</li>
    </ul>
  </div>
</div>
<div class="price-filter">
  <h2>Price:</h2>
  <div class="row price-input">
  <input class="col-4" type="number" [(ngModel)]="minPrice">
  <p class="dash text-center col-1">-</p>
  <input class="col-4" type="number" [(ngModel)]="maxPrice">
    <div class="btn-div col-3">
    <button class="submit-btn" (click)="setPrice()">OK</button>
    </div>
  </div>
  <div class="custom-slider" >
    <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"></ngx-slider>
  </div>
</div>
