
<h2 class="card-title">Order details</h2>
<p class="card-text text-left">Courier: {{courier.name}}  {{courier.surname}}</p>
<p class="card-text text-left">Courier phone: {{courier.phone}}</p>
<p class="card-text text-left">Total sum: {{order.totalSum | currency:'USD'}}</p>
<div class="col mb-3">
  <div class="e-panel">
    <div class="card-body">
      <div class="e-table">
        <div class="table-responsive  mt-3">
          <table class="table table-bordered">
            <thead style="background-color: #70ADFE;">
              <tr>

                <th class="max-width">Product Name</th>
                <th class="max-width">Firm</th>
                <th class="max-width">Category</th>
                <th class="max-width">Quantity</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let good of order.goods">
                <td class="text-nowrap align-middle">{{good.name}}</td>
                <td class="text-nowrap align-middle">{{good.firm}}</td>
                <td class="text-nowrap align-middle">{{good.category}}</td>
                <td class="text-nowrap align-middle">{{good.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

