<div class="container mt-5">
  <div *ngIf="products.length === 0;" class="text-center my-5">
    <h1>No products to compare</h1>
    <button class="btn store-btn btn-lg mt-3" routerLink="/products">Go to store</button>
  </div>
  <div class="d-flex w-100 justify-content-between flex-column flex-md-row">
    <div *ngFor="let product of products" class="col product-card mb-5">
      <div class="card">
        <button class="btn remove-btn" (click)="removeProduct(product)"><i class="fas fa-times-circle"></i></button>
        <img *ngIf="!product.image" src="assets/product.svg" class="card-img-top mx-auto" alt="Good image">
        <img *ngIf="product.image" src="{{product.image}}" class="card-img-top mx-auto" alt="Good image">
        <div class="card-body pb-2">
          <a routerLink="../{{product.id}}" class="card-title mb-0 text-truncate" >{{product.goodName}}</a>
          <p class="card-subtitle text-muted text-truncate">{{product.firmName}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Category: </strong>{{product.categoryName}}</li>
          <li class="list-group-item"><strong>In Stock: </strong>{{product.inStock}}</li>
          <li class="list-group-item unit"><strong>Unit: </strong>{{product.unit}}</li>
          <li class="list-group-item"><strong>Price: </strong>{{product.price | currency: 'USD'}}</li>
        </ul>
        <button class="card-link btn buy-btn" (click)="addProductToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
