<h2>Product Managers</h2>

<app-search
  (results)="managers = search.getUsers()"
  #search >
</app-search>

<app-filter
(results)="managers = filter.getUsers()"
[status_list]="status_list"
#filter>
</app-filter>

<app-pagination (results)="managers = page.getUsers()" #page></app-pagination>

<div *ngIf="!managers || managers.length === 0">
  <p>Nothing was found</p>
</div>
<ul *ngIf="managers.length > 0">
  <a *ngFor="let manager of managers"
  routerLink="/managers/{{manager.id}}">
  <div>
    <span >{{manager.id}} </span>
    <span >{{manager.name}} </span>
    <span >{{manager.surname}} </span>
    <span >{{manager.phone}} </span>
    <span >{{manager.email}} </span>
  </div>
  </a>
</ul>

