<div class="container">
  <div *ngIf="user"  id="full-pers-info">
    <h2 class="text-left mb-0">{{user.name}} {{user.surname}}</h2>
    <h3 *ngIf="user.role=='ROLE_USER'" class="text-left text-muted">Customer</h3>
    <div class="accordion">
      <div class="card">
        <div class="card-header">
            <button class="btn btn-block text-left" (click)="showHideInfo()" type="button" data-toggle="collapse"
                    data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
              Personal information
              <i *ngIf="!collapsedInfo" class="fas fa-angle-down text-muted float-right"></i>
              <i *ngIf="collapsedInfo" class="fas fa-angle-up text-muted float-right"></i>
            </button>
        </div>
        <div id="collapseInfo" class="collapse show">
          <div class="card-body">
            <div class ="pers">
              <h3 class = "note">Surname:</h3>
              <h4 class = "info-text">{{user.surname}}</h4>
            </div>
            <div  class ="pers">
              <h3 class = "note">Name:</h3>
              <h4 class = "info-text">{{user.name}}</h4>
            </div>
            <div class ="pers">
              <h3 class = "note mb-0">Date of birthday:</h3>
              <h4 *ngIf="!user.dateOfBirth" class = "info-text">--</h4>
              <h4 *ngIf="user.dateOfBirth" class = "info-text">{{user.dateOfBirth}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            <button class="btn btn-block text-left collapsed" (click)="showHideContact()" type="button"
                    data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
              Contact information
              <i *ngIf="!collapsedContact" class="fas fa-angle-down text-muted float-right"></i>
              <i *ngIf="collapsedContact" class="fas fa-angle-up text-muted float-right"></i>
            </button>
        </div>
        <div id="collapseContact" class="collapse show">
          <div class="card-body">
            <div class ="pers">
              <h3 class = "note">Phone:</h3>
              <h4 *ngIf="user.phone" class = "info-text">{{user.phone}}</h4>
              <h4 *ngIf="!user.phone" class = "info-text">--</h4>
            </div>
            <div class ="pers">
              <h3 class = "note">Mail:</h3>
              <h4 class = "info-text">{{user.email}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

