<div class="home-content">
  <div class="home-image">
    <img src="../../../assets/happy.svg" display="inline-block" class="col-5">
    <div class="home-text col-5 text-center">
      <h2 class="home-text-title">ONLINE SHOPPING</h2>
      <p display="inline-block">Experience the best online shopping practice with our marketplace</p>
      <button class="store-btn btn btn-link" routerLink="/products">STORE</button>
    </div>
  </div>

  <i width="100px" class="fas fa-balance-scale-right"></i>
</div>
