.card {
  margin-bottom: 20px;
}

.card-body a {
  color: #000;
  font-size: 20px;
  display: block;
}

.price {
  color: #000;
  font-weight: bold;
}

.price-block {

}

.old-price {
  margin-top: 10px;
  margin-bottom: -5px;
  text-decoration: line-through;
  font-weight: normal;
  color: rgb(123, 123, 123);
  height: 100%;
}

.no-price {
  margin-top: 10px;
  margin-bottom: -5px;
  text-decoration: line-through;
  font-weight: normal;
  color: rgb(123, 123, 123);
  height: 100%;
  opacity: 0;
}

.new-price {
  color: #007dc3;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.cart {
  color: #ffffff;
  background-color: #007dc3;
  padding: 10px 15px;
  border-radius: 30px 0 0 30px;
  position: absolute;
  right: 0;
  bottom: 25px;
  border: none;
}

.cart:hover {
  border: none;
}

.card img {
  padding: 20px 20px;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}

.sale-icon {
  position: absolute;
  z-index: 2;
  right: -20px;
  top: -15px;
  width: 100px;
}

.product-info a {
  text-transform: capitalize;
}

.img-container {
  position: relative;
  width: 100%; /* The size you want */
}
.img-container:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.img-container img {
  z-index: 1;
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.out-of-stock {
  background-color: rgb(221, 221, 221);
}
