<div class="container">
  <div *ngIf="items.length === 0;" class="text-center my-5">
    <h1>Your shopping cart is empty</h1>
    <button class="btn store-btn btn-lg mt-3" routerLink="/products">Go to store</button>
  </div>
  <ng-container *ngIf="items.length !== 0">
    <div class="row">
      <div class="col my-4">
        <table class="table table-responsive-sm">
          <thead class="cart-table">
            <tr class="text-center">
              <th></th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartItem of this.items">
              <td class="align-items-center text-center">
                <img *ngIf="!cartItem.goods.image" src="../../../assets/product.svg" class="card-img-top" alt="{{cartItem.goods.goodName}}}">
                <img *ngIf="cartItem.goods.image" src="{{cartItem.goods.image}}" class="card-img-top" alt="{{cartItem.goods.goodName}}}">
              </td>
              <td class="text-center">
                <a routerLink="../products/{{cartItem.goods.id}}" class="good-name">{{cartItem.goods.goodName}}</a>
              </td>
              <td class="text-center">
                <p>{{getPrice(cartItem) | currency:'USD'}}</p>
              </td>
              <td>
                <form>
                  <div *ngIf="cartItem.quantity>1" class="value-button" id="decrease" (click)="decreaseQuantityByOne(cartItem)">
                    <i class="fa fa-minus"></i>
                  </div>
                  <div *ngIf="cartItem.quantity<2" class="min-value-btn value-button">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" id="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="cartItem.quantity"
                    (ngModelChange)="setQuantity(cartItem,$event)"
                    (focusout)="cartItem.quantity == 0 || cartItem.quantity == undefined? cartItem.quantity = 1: '';" [value]="cartItem.quantity"
                    [min]="0" [max]="cartItem.goods.quantity" />
                  <div class="value-button" id="increase" (click)="increaseQuantityByOne(cartItem)">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>
              <td class="text-center">
                <p>{{getSubtotalPrice(cartItem) | currency:'USD'}}</p>
              </td>
              <td class="text-center">
                <span class="delete-icon"><i class="fa fa-trash" (click)="delete(cartItem)"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex w-100 justify-content-between flex-column flex-sm-row">
          <a routerLink="/products" class="my-auto mb-3 btn btn-sm order-1 order-sm-0 back-btn">Continue Shopping</a>
          <div class="total text-center mb-3 order-0 order-sm-1">
            {{getTotalPrice(items) | currency:'USD'}}
            <a (click)="checkout()" class="btn">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>
