.increase_quantity, .decrease_quantity {
    cursor: pointer;
  }

  form {
    margin: 0 auto;
    min-width: 150px;
    text-align: center;
  }

  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 10px 0 12px;
    text-align: center;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }

  form #decrease {
    margin-right: 4px;
    color: #007dc3;
    background-color: #fff;
    border: none;
  }

  form #increase {
    margin-left: 4px;
    color: #007dc3;
    background-color: #fff;
    border: none;
  }

  input#number {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px;
    width: 40px;
    height: 40px;
    outline: none;
  }

input#number:focus {
  box-shadow: 0 0 2pt 2pt #7fc5ee;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  tbody {
    tr {
        td {
          border-right: 1px solid #dee2e6;
          border-bottom: 1px solid #dee2e6;
          &:first-of-type {
            border-left: 1px solid #dee2e6;
          }
        }
    }
  }

  .cart-table{
    background-color: #007dc3;
    color: #fff;
  }

  .delete-icon {
    cursor: pointer;
    color: #7B7B7B;
  }

  .good-name {
    text-transform: capitalize;
    color: #000;
  }

  .total {
    background-color: #cfe6f3;
    border: 1px solid #007dc3;
    border-radius: 4px;
    padding: 25px 25px;
    font-size: 25px;
    font-weight: 600;

    a {
      color: #fff;
      background-color: #007dc3;
      padding: 10px 20px;
      margin-left: 20px;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .back-btn {
    display: inline-block;
    border: 1px solid #007dc3;
    color: #007dc3;
    font-size: 18px;
    height: 50px;
    padding: 10px 10px;
  }

  .min-value-btn {
    background-color: #fff;
    outline: none;
    border: none;
    cursor: default !important;
    margin-right: 4px;
    color: #c1c1c1;
  }

  .store-btn {
    background-color: #007dc3;
    color: #fff;
  }

.img-container {
  position: relative;
  max-width: 100px;
  min-width: 30px;
  width: 100%; /* The size you want */
}
.img-container:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.img-container img {
  z-index: 1;
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
