.content{
  margin-top: 90px;
}

.bot-header-content{
  position: fixed;
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  text-align: center;
  height:60px;
  background: #fff;
  border-bottom: 1px solid #007dc3;
  font-size: 20px;
  box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
  z-index: 100;
}

.top-header{
  position: fixed;
  width: 100%;
  text-align: right;
  height:30px;
  color: #fff;
  background: #007dc3;
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
  z-index: 100;
}

.top-header-content{
  padding-right: 85px;
  padding-top: 7px;
}

.top-header-content p{
  display: inline-block;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
}

.top-header-content a, .top-header-content a:hover, .top-header-content a:focus, .top-header-content a:active {
  color: inherit;
  padding-right: 10px;
  padding-left: 10px;
}

.bot-header-content img{
  height: 100%;
  margin-bottom: 10px;
}

.bot-header-content a, .bot-header-content a:hover, .bot-header-content a:focus, .bot-header-content a:active {
  color: inherit;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
}

.bot-header-content a:hover {
  border-bottom: 2px solid #007dc3;
  padding-bottom: 3px;
}

.bot-header-content {
  padding-bottom: 10px;
}

.max-menu {
  display: inline-block;
}

.max-menu img {
  height: 40px;
  margin-bottom: 10px;
}

.footer {
  margin-top:auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007dc3;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.header-right {
  position: absolute;
  right:80px;
  top:15px;
}

.compare-icon i {
  color: #636363;
}

.compare-icon {
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
}

.number-circle {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  padding-top: 4px;
  background-color: #007dc3;
  text-align: center;
  font: 10px Arial, sans-serif;
}

.cart-circle {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  padding-top: 4px;
  background-color: #007dc3;
  text-align: center;
  font: 10px Arial, sans-serif;
}

.cart-btn {
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #007dc3;
  color:#007dc3;
  border: none;
  font-size: 14px;
  padding: 5px 15px;
  outline: none;
}

.cart-btn:hover {
  box-shadow: 0 0 6pt 2pt #7fc5ee;
}

.fa-shopping-cart {
  color: #fff;
}

.navbar-toggler {
  background-color: #007dc3;
  z-index: 0;
  display: inline-block;
}

.navbar-toggler-icon {
  padding: 2px;
  width: 20px;
  height: 20px;
}

#minMenu{
  background-color: #007dc3;
  color: #FFFFFF;
  margin-top: 2px;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

#minMenu a {
  display: block;
  padding: 5px 5px;
}

@media screen and (max-width: 1000px) {
  .top-header-content{
    text-align: center;
    padding-right: 0;
  }
  .max-menu{
    display: none;
  }

  .header-right {
    position: absolute;
    right:30px;
    top:15px;
  }

  .cart-btn {
    width: 70px;
    background-color: #007dc3;
    border-radius: 25px;
    color:#fff;
    border: none;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .min-menu{
    display: none;
  }
}
