<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
</head>
<body>
<div class="top-header">
  <div class="top-header-content">
    <a *ngIf="!account.email" routerLink="accounts/login">LOG IN</a>
    <p *ngIf="account.email" routerLink="accounts/login">{{account.email}}</p>
    <span>&#183;</span>
    <a *ngIf="!account.email" routerLink="accounts/register">CREATE ACCOUNT</a>
    <a *ngIf="account.email" (click)="logout()" routerLink="">LOGOUT</a>
  </div>
</div>
<div class="bot-header">
  <div class="bot-header-content">
    <div class="pos-f-t min-menu">
      <nav class="navbar navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#minMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="collapse" id="minMenu">
        <a routerLink="home">HOME</a>
        <a routerLink="products">STORE</a>
        <a *ngIf="account.role=='ROLE_ADMIN'" routerLink="sysaccounts">MANAGE</a>
        <a *ngIf="account.role=='ROLE_USER' || !account.role">ORDERS</a>
        <a *ngIf="account.email" routerLink="accounts/profile">PROFILE</a>
      </div>
    </div>
    <div class="max-menu">
      <a routerLink="home">HOME</a>
      <a routerLink="products">STORE</a>
      <a><img src="assets/logo.svg"></a>
      <a *ngIf="account.role=='ROLE_ADMIN'" routerLink="sysaccounts">MANAGE</a>
      <a *ngIf="account.role=='ROLE_USER' || !account.role">ORDERS</a>
      <a *ngIf="account.email" routerLink="accounts/profile">PROFILE</a>
    </div>
    <div class="header-right">
      <div routerLink="products/comparison" class="compare-icon">
        <i class="fas fa-balance-scale"></i>
        <div *ngIf="comparedProd.length>0" class="number-circle">{{comparedProd.length}}</div>
      </div>
      <button routerLink="cart" class="cart-btn">CART</button>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
  <app-alert></app-alert>
</div>
<div class="footer">
  <p>&#169;NetCracker 2021</p>
</div>
</body>
</html>
<div class="app-container">
  <!-- main router outlet -->
</div>
