<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card">
        <img class="card-img"
             alt="Product">

        <div class="card-body">
          <h4 class="card-title">
            {{order.user?.name}} {{order.user?.surname}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Phone: {{order.user?.phone}}</h6>
          <button type="button" (click) = "changeStatus()" class="btn btn-danger mt-3">
            <i class="fas fa-shopping-cart"></i> Change Status
          </button>
          <h6 class="card-subtitle mb-2 text-muted">Comment: {{order.comment}}</h6>
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-body">
                <div class="e-table">
                  <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered table-hover">
                      <thead>
                      <tr>

                        <th class="max-width">Product Name</th>
                        <th class="max-width">Firm</th>
                        <th class="max-width">Category</th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let good of order.goods" class="pointer">
                        <td class="text-nowrap align-middle">{{good.name}}</td>
                        <td class="text-nowrap align-middle">{{good.firm}}</td>
                        <td class="text-nowrap align-middle">{{good.category}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
