<h2>Couriers</h2>

<app-filter
  (results)="couriers = filter.getUsers()"
  [status_list]="status_list"
  #filter
>
</app-filter>

<app-search
  (results)="couriers = filter.getUsers()"
  #filter
> </app-search>

<div *ngIf="!couriers || couriers.length === 0">
  <p>Nothing was found</p>
</div>
<ul *ngIf="couriers.length > 0">
  <a *ngFor="let courier of couriers"
  routerLink="/couriers/{{courier.id}}">
  <div>
    <span >{{courier.id}} </span>
    <span >{{courier.name}} </span>
    <span >{{courier.surname}} </span>
    <span >{{courier.phone}} </span>
    <span >{{courier.email}} </span>
    <span *ngIf="!courier.enabled"> TERMINATED </span>
    <span *ngIf="courier.enabled && courier.active"> ACTIVE </span>
    <span *ngIf="courier.enabled && !courier.active"> INACTIVE </span>
  </div>
  </a>
</ul>
<app-pagination (results)="couriers = filter.getUsers()" #filter></app-pagination>





