<h2>Couriers</h2>
<app-courier-filter
  (results)="couriers = $event"
>
</app-courier-filter>

<app-search
  (couriers)="couriers = $event" [userType]="'courier'"
> </app-search>

<div *ngIf="!couriers || couriers.length === 0">
  <p>Nothing was found</p>
</div>
<ul *ngIf="couriers.length > 0">
  <a *ngFor="let courier of couriers"
  routerLink="/couriers/{{courier.id}}">
  <div>
    <span >{{courier.id}} </span>
    <span >{{courier.name}} </span>
    <span >{{courier.surname}} </span>
    <span >{{courier.phone}} </span>
    <span >{{courier.email}} </span>
    <span >{{courier.active}} </span>
  </div>
  </a>
</ul>
<app-pagination (results)="couriers = $event" [userType]="'courier'"></app-pagination>





