<div class="card text-center bg-white" style="border: none;">
  <div class="card-header" style="background-color: #FFFFFF;">
    <ul class="nav nav-tabs card-header-tabs bg-white">
      <li class="nav-item">
        <a class="nav-link"
        routerLink="incoming"
        [ngClass]="{'active': isUrlActive('incoming') }">Incoming orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLink="previous"
        [ngClass]="{'active': isUrlActive('previous')}">Order history</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
