<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Email</label>
    <input type="text" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && getForm.email.errors }" />
    <div *ngIf="submitted && getForm.email.errors" class="invalid-feedback">
      <div *ngIf="getForm.email.errors.required">Email is required</div>
      <div *ngIf="getForm.email.errors.email">Email is invalid</div>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <div class="input-group password-div">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
             class="form-control password-input" [ngClass]="{ 'is-invalid': submitted && getForm.password.errors }" />
      <div class="input-group-append">
    <span class="input-group-text">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !showPassword,
          'fa-eye': showPassword
        }"
        (click)="showHidePassword()"
      ></i>
    </span>
      </div>
      <div *ngIf="submitted && getForm.password.errors" class="invalid-feedback">
        <div *ngIf="getForm.password.errors.required">Password is required</div>
        <div *ngIf="getForm.password.hasError('IncorrectPassword')">Incorrect password</div>
      </div>
    </div>
  </div>
  <div [hidden]="!showCaptcha" class="form-group">
    <re-captcha
      (resolved)="resolvedCaptcha($event)"
      siteKey="{{siteKey}}"
    ></re-captcha>
  </div>
  <div class="form-row link-div">
    <div class="form-group col">
      <button [disabled]="loading || (showCaptcha && !captchaResponse)" type="submit" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
    </div>
    <div class="form-group col text-right">
      <a routerLink="../forgot-password" class="btn btn-link pr-0">Forgot Password?</a>
    </div>
  </div>
</form>
